<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Author</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.text %></td>
      <td><%= article.author.email %></td>
      <td><%= link_to 'Views', article_statistics_path(article) %></td>
    </tr>
  <% end %>
</table>